/* default react styling */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* changes default link color to better fit the page */
a {
  color: #17a2b8;
}
a:hover {
  color: #38cde0;
}

/* change background color for entire page */
body {
  background-color: #000000;
}

/* changes color of jumbotron, and keeps jumbotron at top of page even while scrolling */
.jumbotron {
  background-color: #000000;
  color: #f0ffff;
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px, none;
  padding: 20px;
  position: sticky;
  top: 0pt;
}

/* changes size and shape of employee icon */
.employeeIcon {
  border: 1px solid #000000 !important;
  border-radius: 90px;
}